/* CSS Document */

/*color*/
$white: #fff;
$gray: #bbb;
$black: #111;
$general: #727272;
$black_soft: #333;
$black_col: #2e333c;
$black_more: #0f0f0f;
$color: #8364E2;
$color_more: #403f83;
.col-white{
  color: $white;
}

/*font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;600;700;800&display=swap');


.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

.w-full {
  width: 100%
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}
.btn-center {
  text-align: center;
  color: #fff !important;
  background: #8364E2;
  border-radius: 6px;
  letter-spacing: normal;
  outline: 0;
  font-weight: 800;
  text-decoration: none;
  padding: 8px 40px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 20px 0px rgba(131, 100, 226, 0);
  transition: all 0.3s ease;
  &:hover{
    box-shadow: 2px 2px 20px 0px rgba(131, 100, 226, 0.5);
    transition: all 0.3s ease;
  }
  &.inline{
    display: inline-block;
    margin-right: 15px;
    &.white{
      color: $color_more !important;
      background:$white;
    }
  }
}

.underline {
  text-decoration: underline;
}
.cursor {
  cursor: pointer;
}

.flex {
  display: flex;
}
.d-row {
  display: flex;
  flex-direction: row!important;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-betwen {
  justify-content: space-between;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-90 {
  margin-top: 90px;
}
.m-10 {
  margin: 10px;
}
.p-10 {
  padding: 10px;
}
.f-14 {
  font-size: 13px;
}

.d-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.w-full {
  width: 100%;
}

// =======================================================
.nft-card {
  width: 202px;
  height: 300px;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin: 12px 8px;
  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
    .buy-now::after{
      content: 'Buy Now';
      font-size: 15px;
      color: #2081e2;
      font-weight: 600;
    }
  }
}

.nft-card-header {
  width: 200px; 
  height: 200px;
  overflow: hidden; 
  display: flex;
  justify-content: center; 
  align-items: center
}

.nft-card-header img{
  width: auto;
  height: 200px; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.resource-btn {
  border-radius: 5px;
  padding: 8px 12px;
  max-width: 240px;
  cursor: pointer;
}

.border-active {
  border: 1px solid #2081e2;
}


// profile
.profile-avatar {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  margin-top: -160px;
  border-radius: 50%;
  width: 130px;
  min-width: 130px;
  height: 130px;
  min-height: 130px;
  z-index: 100;
  cursor: pointer;
}

.profile-header {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e8eb;
}

.profile-header-btn {
  padding: 18px 30px;
  color: #666;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  &:hover{
    color: #000;
  }
}

.pbtn-active {
  border-bottom: 4px solid rgb(32, 129, 226);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}